/* pages/home/index.wxss */
.hospital_list {
  &_header {
    margin: 0 16px 5px;
    display: flex;
    align-items: center;

    &_title {
      font-weight: bold;
      font-size: 16px;
      margin-left: 10px;
      flex: 1;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: #116BB4;
        width: 5px;
        height: 20px;
        left: -10px;
      }
    }

    &_link {
      align-items: center;
      display: flex;
      font-size: 12px;
      color: #A2A2A2;

      &_icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &_body {
    &_item {
      display: flex;
      width: auto;
      flex-direction: row;

      &_image {
        width: 100px;
      }

      &_info {
        flex-direction: column;
        gap: 5px;
        display: flex;

        &_name {
          font-size: 14px;
        }

        &_descriptions {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }

        &_address {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }
      }
    }
  }
}