.hospital_list {
  background-color: #FFFFFF;
  border-radius: 24rpx;
  margin: 20rpx;

  &_header {
    height: 84rpx;
    display: flex;
    align-items: center;
    padding: 0 64rpx;
    gap: 120rpx;

    &_select {
      color: #8C9099;
      line-height: 32rpx;

      &_icon {
        width: 32rpx;
        height: 32rpx;
      }
    }

    &_link {
      align-items: center;
      display: flex;
      font-size: 12px;
      color: #A2A2A2;

      &_icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &_body {
    &_item {
      display: flex;
      padding: 32rpx 0;
      margin: 0 24rpx;
      flex-direction: row;
      border-bottom: 2rpx solid #F3F3F3;

      &_image {
        width: 164rpx;
        height: 130rpx;
      }

      &_info {
        flex-direction: column;
        gap: 5px;
        display: flex;

        &_name {
          font-size: 30rpx;
        }

        &_descriptions {
          font-size: 26rpx;
          color: #8C9099;
        }

        &_address {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }
      }
    }
  }
}