/* pages/my/index.wxss */
.header {
  background: linear-gradient(rgb(17, 107, 180, 1), rgb(69, 170, 66, 0)) ;
  padding: 30px 0;
}

.user_panel {
  display: flex;
  gap: 20rpx;
  height: 130rpx;
  align-items: center;
  justify-content: space-between;
  padding: 20rpx 40rpx 40rpx;

  &_info {
    flex: 1;

    &_phone {
      color: #696969;
      font-size: 24rpx;
    }

    &_name {
      color: #080808;
      font-size: 40rpx;
      font-weight: bold;
    }
  }

  &_icon {
    font-size: 30px;
    border-radius: 50%;
    height: 160rpx;
    width: 160rpx;
    text-align: center;
    background-color: #D2D2D2;
    justify-content: center;
    align-items: center;
    display: flex;

    &_border {
      background-color: #FFF;
      height: 74px;
      width: 74px;
      border-radius: 50%;
      justify-content: center;
    align-items: center;
    display: flex;
    }

    &_image {
      background: linear-gradient(rgb(69, 170, 66, 0.8), rgb(69, 170, 66, 0.2));
      border-radius: 50%;
      width: 68px;
      height: 68px;
    }
  }
}

.opt_btn {
  margin-left: 15px;
}



.cell_title {
  display: flex;
  align-items: center;
}

.cell_title_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.login_no {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: #7FA1C3;
}

.welcome_title {
  flex: 1;
  margin: 30px 12px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  line-height: 1.5em;
}

.app_name {
  color: yellowgreen;
}

.login_btn {
  margin: 25px 12px;
}


.notice_card {
  background-color: white;
  padding: 0 40rpx 20rpx;
}

.notice_bar {
  border-radius: 5px;
}

.scroll_container {
  height: calc(100vh - 100rpx);
  overflow: auto;
}


.tools_list {
  &_body {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    &_item {
      width: 80px;

      &_icon {
        text-align: center;
        image{
          width: 32px;
          height: 32px;
        }
      }

      &_label {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}