/**app.wxss**/
.container {
  padding: 16px;
  flex-direction: column;
  gap: 10px;
  display: flex;
} 

.van-button--primary {
  font-size: 20px;
  background-color: pink;
}

page{
  background-color: #F8F8F8;
  font-size: 14px;
  --button-primary-background-color: #116BB4;
  --button-primary-border-color:#116BB4;
  --button-border-radius:8px;
}

.panel {
  border-radius: 8px;
  background-color: #FFF;
  margin: 10px 16px;
  padding: 12px;
  border: 1px solid #ebedf0;
  border-width: 1px 0;
  box-sizing: border-box;

  &_header {
    &_title {
      color: #4F4F4F;
      font-size: 16px;
      font-weight: bold;
    }

    &:not(:last-child){
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
  
 
  .split {
    border-bottom: 1px solid #ebedf0;
  }
}


.user_list {

  &_body {
    flex-direction: column;
    gap: 5px;
    display: flex;

    &_item {
      padding: 0 12px;
      display: flex;
      align-items: center;
      background-color: rgb(17, 107, 180, 0.1);
      height: 40px;
      gap: 10px;
      border-radius: 8px;

      &_header {
        background: linear-gradient(rgb(69, 170, 66, 0.8), rgb(69, 170, 66, 0.2));
        border-radius: 50%;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      &_relation {
        border: 4rpx solid rgb(69, 170, 66, 0.8);
        padding: 1px;
        border-radius: 5px;
        font-size: 12px;
        margin-right: auto;

      }
    }

    .add_btn {
      justify-content: center;
    }
  }
}

.hospital_list {
  &_header {
    margin: 0 16px 5px;
    display: flex;
    align-items: center;

    &_title {
      font-weight: bold;
      font-size: 16px;
      margin-left: 10px;
      flex: 1;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: #116BB4;
        width: 5px;
        height: 20px;
        left: -10px;
      }
    }

    &_link {
      align-items: center;
      display: flex;
      font-size: 12px;
      color: #A2A2A2;

      &_icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &_body {
    &_item {
      display: flex;
      width: auto;
      flex-direction: row;

      &_image {
        width: 100px;
      }

      &_info {
        flex-direction: column;
        gap: 5px;
        display: flex;

        &_name {
          font-size: 14px;
        }

        &_descriptions {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }

        &_address {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }
      }
    }
  }
}