/**app.wxss**/
.container {
  padding: 16px;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.van-button--primary {
  font-size: 20px;
  background-color: pink;
}

page {
  background-color: #F6F6F6;
  font-size: 14px;
  --button-primary-background-color: #116BB4;
  --button-primary-border-color: #116BB4;
  --button-border-radius: 8px;
  padding-bottom: 160rpx;
}

.panel {
  border-radius: 24rpx;
  background-color: #FFF;
  margin: 10px 16px;
  padding: 12px;
  border: 1px solid #ebedf0;
  border-width: 1px 0;
  box-sizing: border-box;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      color: #4F4F4F;
      font-size: 32rpx;
      font-weight: bold;
      flex: 1;
    }

    &_link {
      font-size: 12px;
      color: #ABABAB;
    }

    &:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }


  .split {
    border-bottom: 1px solid #ebedf0;
  }
}


.user_list {
margin: 0 20rpx;
  &_header{
    height: 136rpx;
    padding-left: 32rpx;
    border-radius: 24rpx 24rpx 0rpx 0rpx;
    background: linear-gradient( 90deg, #129ADD 0%, #21C875 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: -30rpx;

    &_title{
      margin-top: 32rpx;
      color: #FFF;
      font-size: 32rpx;
    }

    &_bg{
      height: 124rpx;
      width: 340rpx;
    }
  }

  &_body {
    background-color: #FFF;
    flex-direction: column;
    gap: 5px;
    display: flex;
    border-radius: 24rpx 24rpx 24rpx 24rpx;
    padding: 24rpx;

    &_item {
      padding: 0 20rpx;
      display: flex;
      align-items: center;
      background-color: #F6F6F6;
      height: 108rpx;
      gap: 20rpx;
      border-radius: 24rpx;
      border: 2rpx solid #EDEDED;

      &_header {
        
      }

      &_name{
        font-size: 28rpx;

      }

      &_gender{
      }

      &_relation {
        margin-right: auto;
      }

      .tag{
        font-size: 24rpx;
        border-radius: 8rpx;
        line-height: 34rpx;
padding: 0 8rpx;
        text-align: center;
        height: 34rpx;
        border: 2rpx solid #DEDEDE;
        background: #ECECEC;
        color: #777879;
      }
    }

    .add_btn {
      justify-content: center;
      border-color: #18ACB4;
      font-size: 28rpx;
      color: #18ACB4;
      background-color: #FFF;
      height: 92rpx;
    }
  }
}

.hospital_list {
  &_header {
    margin: 0 16px 5px;
    display: flex;
    align-items: center;

    &_title {
      font-weight: bold;
      font-size: 16px;
      margin-left: 10px;
      flex: 1;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: #116BB4;
        width: 5px;
        height: 20px;
        left: -10px;
      }
    }

    &_link {
      align-items: center;
      display: flex;
      font-size: 12px;
      color: #A2A2A2;

      &_icon {
        width: 12px;
        height: 12px;
      }
    }
  }

  &_body {
    &_item {
      display: flex;
      width: auto;
      flex-direction: row;

      &_image {
        width: 100px;
      }

      &_info {
        flex-direction: column;
        gap: 5px;
        display: flex;

        &_name {
          font-size: 14px;
        }

        &_descriptions {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }

        &_address {
          font-size: 12px;
          line-height: 14px;
          color: rgb(50, 50, 50, 0.5);
        }
      }
    }
  }
}

.cell_group{
  margin-bottom: 24rpx;
  display: block;
}

.cell_item{
  height: 128rpx;
  align-items: center;
}

.cell_title{
  color: #000;

}